/*--------------------------------------------------------------
# Estilos Nav Bar
--------------------------------------------------------------*/

#header {
  font-family: 'Fraunces', serif;
  color: #444444;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  color: #5faee3;
  text-decoration: none;
}

/*Paleta de colores
#344E41
#A05C2D
#F4D58D
#
 */

/**{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Fraunces', serif;
}*/

/*--------------------------------------------------------------
# NavBar
--------------------------------------------------------------*/

#navbarNav,.container-fluid{
  justify-content: end;
  align-items: flex-end;
  text-align: end;
  background-color: rgb(244, 213, 141);
}

.navbar{
 
 padding: 0;

}

.search{
margin-top: 10px;
padding-bottom: 8px;
margin-bottom: 5px;
height: 35px;
}

.search_button{
margin-top: 10px;
padding-bottom: 4px;
margin-bottom: 10px;
height: 35px;
}



.nav-link{
  color: black;
}

.font-navbar{
  font-family: 'Montserrat', sans-serif;

}

.title h2{
  color: rgb(160, 92, 45);
  font-family: 'Fraunces', serif;
  text-decoration: none;
  
}


/*--------------------------------------------------------------
# Estilos About Us
--------------------------------------------------------------*/ 
body{ 
text-align: center;
background-image:
url(/assets/img/fondo\ con\ \ opacidad.png);
background-size: 100%;
background-repeat: repeat;  
}

#TITULO-Aboutus{
margin-top: 30px;
margin-bottom: 30px;
font-size: 30px;
font-family: 'Fraunces', serif;
color: #344E41;
}

#Slogan{
margin-top: 50px;
margin-bottom: 50px;
font-size: 50px;
font-family: 'Fraunces', serif; 
color:#344E41;
}

.cosechador{
size: 30px;
}

.Tabla-intro{
background:#ffffeb;
color: black;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
display: inline-block;
border-radius: 15px;
}

.Tabla-intro h4{
font-family:'Fraunces', serif;
color: #344E41;
}

.Tabla-intro p{
margin-top: 30px;
margin-bottom: 30px;
}

.img-fluid{
margin-top: 10px;
margin-left: auto;
margin-right: 0;
border-radius: 15px;
size: 400px;
}

.img-fluid #cosechador{
size: 30px; 
}



#Valores{
margin-top: 30px;
margin-bottom: 30px;
font-size: 30px;
font-family: 'Fraunces', serif;
color: #344E41;
}


.card {
width: 450px;
height: 400px;
background: rgb(255, 255, 255);
border-radius: 15px;
box-shadow: 0.5em 0.5em 0.8em 0.5em #00000015;
border: rgb(250, 250, 250) 0.2em solid;
justify-content: center;
margin-bottom: 30px;
font-family: 'Montserrat', sans-serif; 
font-size: 12px;
}
.card img {

width: 350px;
height: 210;
margin-left: 40px;
margin-top: 40px;
border-radius: 15px;
}

