/*Links fuentes Monserrat y Oswald+*/
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;

/* === NAVBAR === */
#logo_index{
   text-decoration: none;
   color: #A05C2D;
   font-family: 'Fraunces', serif;
   font-weight: bold;
   text-align: center;
}

.font-NavBar{
   font-family: 'Fraunces', serif;
}

#navbarNav,.container-fluid{
   justify-content: end;
   align-items: flex-end;
   text-align: end;
   background-color: rgb(244, 213, 141);
}

.navbar{
   background-color: rgb(244, 213, 141);
}

.nav-link{
   color: black;
}

 /* === NavBar dropdown desplegable === */
.navbar .dropdown ul {
   display: block;
   position: absolute;
   left: 14px;
   top: calc(100% + 30px);
   margin: 0;
   padding: 10px 0;
   z-index: 99;
   opacity: 0;
   visibility: hidden;
   background: #fff;
   box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
   transition: 0.3s;
}

.navbar .dropdown ul li {
   min-width: 200px;
}

.navbar .dropdown ul a {
   padding: 10px 20px;
   font-size: 14px;
   font-weight: 400;
   color: #21262a;
}

.navbar .dropdown ul a i {
   font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
   color: #3498db;
}

.navbar .dropdown:hover>ul {
   opacity: 1;
   top: 100%;
   visibility: visible;
}

.navbar .dropdown .dropdown ul {
   top: 0;
   left: calc(100% - 30px);
   visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
   opacity: 1;
   top: 0;
   left: 100%;
   visibility: visible;
}

@media (max-width: 1366px) {
   .navbar .dropdown .dropdown ul {
   left: -90%;
   }

   .navbar .dropdown .dropdown:hover>ul {
   left: -100%;
   }
}

/*
.parent grid-container{
   display: grid;
   place-items: center;
}
*/
/* alineacion cards*/
.tarjetasdeProductos{
  /* display: flex;*/
   align-items: center;
   justify-content: center;
   width: 600px;
}

/* alineacion se lo copie al vic preguntar*/

.material-symbols-outlined{
   color: white;
}

.user{
   float: inline-end;
}
/* alineacion body*/
body{
   background-image: url(./img/patrón\ de\ imagen.png);
   background-size: contain;
   background-color: white;
   background-repeat: initial;
   background-position: center;
   position: relative;
 }