/* alineacion body*/
body{
   background-image: url(./img/fondofinalCK.png);
   background-size: contain;
   background-color: bisque;
   background-repeat: initial;
   background-position: center;
   position: relative;
 }


/* === NAVBAR === */
#navbarNav,.container-fluid{
   justify-content: end;
   align-items: flex-end;
   text-align: end;
   background-color: rgb(244, 213, 141);
}

.navbar{
  
  padding: 0;
 
}

.search{
 padding-top: 8px;
 padding-bottom: 8px;
 margin-bottom: 5px;
 height: 35px;
}

.search_button{
 padding-top: 4px;
 padding-bottom: 4px;
 margin-bottom: 5px;
 height: 35px;
}



.nav-link{
   color: black;
}

.font-navbar{
 font-family: 'Fraunces', serif;
}

.title{
   color: rgb(160, 92, 45);
   font-family: 'Fraunces', serif;
   text-decoration: none;
   
}




footer{
   padding: 50px;
    margin-top: 150px;
   background-color: rgb(244, 213, 141);
}

.links-list{

 list-style: none;
}

.non-decoration{
 text-decoration: none;
color: black;
}

/*
.parent grid-container{
   display: grid;
   place-items: center;
}
*/
/* alineacion cards*/
.tarjetasdeProductos{
  /* display: flex;*/
   align-items: center;
   justify-content: center;
   width: 600px;
}

/* alineacion se lo copie al vic preguntar

.material-symbols-outlined{
   color: white;
}

.user{
   float: inline-end;
}*/

 