body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  background-image: url(/assets/60porcientoopaco.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-color:none;
}


.formularios .titulo h1{
  font-size: 40px;
  margin-bottom: 20px;
  font-family: "Fraunces", sans-serif;
  text-align: center;
  color:#344E41;
}
.formularios .espacio-formulario #mensaje{
  width:90%;
  height: 0%;
  resize: none;
  margin-top: 10px;
  margin-bottom: 20px;
}
.formularios .espacio-formulario #nombres,#email{
  width: 100%;
  height: 100%;
  margin-top:10px;
  margin-bottom: 20px;
  
}
.formularios button {
  background-color: #F4D58D;
  color:#A05C2D;
  margin: 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  align-self: center;
}
.encabezado {
  font-family: "Fraunces", sans-serif;
  font-size: 50px;
}
#pieDePagina {
  font-family: "Fraunces", sans-serif;
  font-size: 30px;
  color:#344E41;
}




#navbarNav,.container-fluid{
  justify-content: end;
  align-items: flex-end;
  text-align: end;
  background-color: rgb(244, 213, 141);
}

.navbar{
  background-color: rgb(244, 213, 141);
}
.nav-link{
  color: black;
}
