body {
    background-image: url(/assets/fondo\ de\ opacidad.png);
    background-size:cover;
    background-color: #f8f4ea;
    background-repeat: initial;
    background-position: center;
    position: relative;
}

#header {
    font-family: 'Fraunces', serif;
    color: #444444;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    color: #5faee3;
    text-decoration: none;
}

/*--------------------------------------------------------------
# NavBar
--------------------------------------------------------------*/
#logo_index {
    text-decoration: none;
    color: #A05C2D;
    font-family: 'Fraunces', serif;
    font-weight: bold;
    text-align: center;
}

.font-NavBar {
    font-family: 'Fraunces', serif;
}

#navbarNav,
.container-fluid {
    justify-content: end;
    align-items: flex-end;
    text-align: end;
    background-color: rgb(244, 213, 141);
}

.navbar {
    padding: 0;
}

.search {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 5px;
    height: 35px;
}

.search_button {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 5px;
    height: 35px;
}

.nav-link {
    color: black;
}

.font-navbar {
    font-family: 'Fraunces', serif;
}

.title {
    color: rgb(160, 92, 45);
    font-family: 'Fraunces', serif;
    text-decoration: none;

}

h2 {
    text-align: center;
    margin-top: 20px;
}

#estrellitas{
    font-family: 'Montserrat', sans-serif;
    background-color: #4b6c5b;
    color: white;
    padding: 30px;
    margin-right: 0;
    margin-left: 0;
}

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

#form p {
    text-align: center;
}

#inputReseñas1, #inputReseñas2 {
    font-size: 14px;
    text-align:left;
    color: white;
}

::placeholder{
    font-size: 14px;
    text-align:left;
    color: white;
}

textarea {
    resize: none;
}

#encabezado{
    font-family: 'Fraunces', serif;
    font-size: 12px;
}

/* ==== Footer ====*/
footer {
    padding: 50px;
    margin-top: 100px;
    background-color: rgb(244, 213, 141);
}

.links-list {

    list-style: none;
}

.non-decoration {
    text-decoration: none;
    color: black;
}
/* ==== End Footer ====*/