/*Paleta de colores
    #CB997E
    #DDBEA9
    #FFE8D6
    #B7B7A4 */

/**{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
}*/

#body{
    background-image: url(/assets/coffee\ background.jpg);
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position:relative;
    font-family: 'Montserrat', sans-serif;
}

#encabezado{
    font-family: 'Oswald', sans-serif;
    
}

#card{
    background-color:white;
    -webkit-box-shadow: 1px 2px 16px 0px #000000; 
    box-shadow: 1px 2px 16px 0px #000000;

}

#login-icon, #password-icon{
    background-color: #B7B7A4;
}

#recordarme{
    font-size: 12px;
}

#forgotPassword{
    font-size: 10px;
}

#logo{
    align-items: center;
}

#iniciarSesion{
    color:ghostwhite;
    font-size: 18px;
    font-weight: 600;
}

#cuenta, #registrate{
    font-size: 12px;
}

#google{
    font-size: 14px;
}

#tyc{
    font-size: x-small;
    text-align: center;
}

/********BOTÓN INTERACTIVO LOGIN****/
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    /*background: #DDBEA9;*/
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}
