/* Estilos Generales */
body{
  background-image: url(../img/patron.png);
  background-size:contain;
  background-color: bisque;
  background-repeat:initial;
  background-position: center;
  position:relative;
  font-family: 'Montserrat', sans-serif;
  }
  
  h1,h2{
      font-size: 200%;
      font-family: 'Fraunces', serif;
      color: #344E41;
  }
  
  #frase{
    padding-top: 0;
  }
  
  h3{
    font-size:40px;
    text-align: center;
    font-family: 'Fraunces', serif;
    color: #344E41;
  }
  
  h4{
    font-family:'Fraunces', sans-serif;
    font-size:xx-large;
    font-weight: normal; 
    text-align:center;
    line-height: normal;
    grid-template-columns: auto;
    display: grid; 
  }
  
  p{
   font-family:'Montserrat', sans-serif;
   font-size: 16px;
   font-weight: normal; 
   text-align: justify;
   line-height: normal;
   grid-template-columns: auto;
   display: grid;
   max-width:fit-content;
   margin: 15px 20px 75px;
  }
  
  
  #img_intro{
   height: 10px;
  
  }
  
  button{
    background-color: #F4D58D;
      color:#A05C2D;
      margin: 16px;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      align-self: center;
  }
  

  #navbarNav,.container-fluid{
    justify-content: center;
    align-items: center;
    text-align: end;
    background-color: rgb(244, 213, 141);

}

.navbar{
   
   padding: 0;
  
}



.search{
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 5px;
  height: 35px;
}

.search_button{
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 5px;
  height: 35px;
}

a {
  color: #A05C2D;
  text-decoration: none;
}

a:hover {
  color: #A05C2D;
  text-decoration: none;
}

.nav-link{
    
    color: #344E41;
}

.font-navbar{
  font-family: 'Fraunces', serif;
}

.title{
    color: rgb(160, 92, 45);
    font-family: 'Fraunces', serif;
    text-decoration: none;
    
}
  
  
  /*--------------------------------------------------------------
  # Estilos About Us
  --------------------------------------------------------------*/ 


  body{
    background-image: url(../img/patron.png);
    background-size:contain;
    text-align: center;
    background-color: bisque;
    background-repeat:initial;
    background-position: center;
    position:relative;
    font-family: 'Montserrat', sans-serif;

}



  #TITULO-Aboutus{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: 'Fraunces', serif;
  color: #344E41;
  }
  
  #Slogan{
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 50px;
  font-family: 'Fraunces', serif; 
  color:#344E41;
  }
  
  .cosechador{
  size: 30px;
  }
  
  .Tabla-intro{
  background:#ffffeb;
  color: black;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  border-radius: 15px;
  }
  
  .Tabla-intro h4{
  font-family:'Fraunces', serif;
  color: #344E41;
  }
  
  .Tabla-intro p{
  margin-top: 30px;
  margin-bottom: 30px;
  }
  
  .img-fluid{
  margin-top: 10px;
  margin-left: auto;
  margin-right: 0;
  border-radius: 15px;
  size: 400px;
  }
  
  .img-fluid #cosechador{
  size: 30px; 
  }
  
  
  
  #Valores{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: 'Fraunces', serif;
  color: #344E41;
  }
  
  
  .card {
  width: 450px;
  height: 400px;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0.5em 0.5em 0.8em 0.5em #00000015;
  border: rgb(250, 250, 250) 0.2em solid;
  justify-content: center;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif; 
  font-size: 12px;
  }
  .card img {
  
  width: 350px;
  height: 210;
  margin-left: 40px;
  margin-top: 40px;
  border-radius: 15px;
  }


  footer{
    padding: 20px;
     margin-top: 100px;
    background-color: rgb(244, 213, 141);
}