body {
    background-image: url(../../assets/img/patron.png);
    background-size:cover;
    background-color: #f8f4ea;
    background-repeat: initial;
    background-position: center;
    position: relative;
}

#header {
    font-family: 'Fraunces', serif;
    color: #444444;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    color: #5faee3;
    text-decoration: none;
}

/*--------------------------------------------------------------
# NavBar
--------------------------------------------------------------*/



#navbarNav,.container-fluid{
    justify-content: center;
    align-items: center;
    text-align: end;
    background-color: rgb(244, 213, 141);

}

.navbar{
   
   padding: 0;
  
}



.search{
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 5px;
  height: 35px;
}

.search_button{
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 5px;
  height: 35px;
}

a {
  color: #A05C2D;
  text-decoration: none;
}

a:hover {
  color: #A05C2D;
  text-decoration: none;
}

.nav-link{
    
    color: #344E41;
}

.font-navbar{
  font-family: 'Fraunces', serif;
}

.title{
    color: rgb(160, 92, 45);
    font-family: 'Fraunces', serif;
    text-decoration: none;
    
}


#estrellitas{
    font-family: 'Montserrat', sans-serif;
    background-color: #4b6c5b;
    color: white;
    padding: 30px;
    margin-right: 0;
    margin-left: 0;
}

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

#form p {
    text-align: center;
}

#inputReseñas1, #inputReseñas2 {
    font-size: 14px;
    text-align:left;
    color: white;
}

::placeholder{
    font-size: 14px;
    text-align:left;
    color: white;
}

textarea {
    resize: none;
}

#encabezado{
    font-family: 'Fraunces', serif;
    font-size: 12px;
}



footer{
    padding: 20px;
     margin-top: 100px;
    background-color: rgb(244, 213, 141);
}




#header {
    font-family: 'Fraunces', serif;
    color: #444444;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    color: #5faee3;
    text-decoration: none;
}


h2 {
    text-align: center;
    margin-top: 20px;
}

#estrellitas{
    font-family: 'Montserrat', sans-serif;
    background-color: #4b6c5b;
    color: white;
    padding: 30px;
    margin-right: 0;
    margin-left: 0;
}
#buttonModal{
    font-family: 'Montserrat', sans-serif;
    background-color:wheat;
    color:#A05C2D;
    padding: 8px;
    margin-right: 0;
    margin-left: 0;
    border-color: wheat;
}
a{
    color: #A05C2D;
  text-decoration: none;
}

a:hover{
    color: #A05C2D;
    text-decoration: none;
}

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

#form p {
    text-align: center;
}

#inputReseñas1, #inputReseñas2 {
    font-size: 14px;
    text-align:left;
    color: white;
}

#modalBody,#mensajeModal{
    font-size: 14px;
    text-align:left;
    color:#4b6c5b;
    font-family:'Montserrat', sans-serif;
}

::placeholder{
    font-size: 14px;
    text-align:left;
    color: white;
}

textarea {
    resize: none;
}

#encabezado{
    font-family: 'Fraunces', serif;
    font-size: 12px;
}

