
/*Paleta de colores
#344E41
#A05C2D
#F4D58D
#
 */

/**{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Fraunces', serif;
}*/

body{
    background-image: url(../../assets/img/patron.png);
    background-size:contain;
    background-color: #f8f4ea;
    background-repeat:initial;
    background-position: center;
    position:relative;
}

#header {
  font-family: 'Fraunces', serif;
  color: #444444;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  color: #5faee3;
  text-decoration: none;
}

/*Paleta de colores
#344E41
#A05C2D
#F4D58D
#
 */

/**{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Fraunces', serif;
}*/

/*--------------------------------------------------------------
# NavBar
--------------------------------------------------------------*/





#navbarNav,.container-fluid{
  justify-content: center;
  align-items: center;
  text-align: end;
  background-color: rgb(244, 213, 141);

}

.navbar{
 
 padding: 0;

}



.search{
padding-top: 8px;
padding-bottom: 8px;
margin-bottom: 5px;
height: 35px;
}

.search_button{
padding-top: 4px;
padding-bottom: 4px;
margin-bottom: 5px;
height: 35px;
}

a {
color: #A05C2D;
text-decoration: none;
}

a:hover {
color: #A05C2D;
text-decoration: none;
}

.nav-link{
  
  color: #344E41;
}

.font-navbar{
font-family: 'Fraunces', serif;
}

.title{
  color: rgb(160, 92, 45);
  font-family: 'Fraunces', serif;
  text-decoration: none;
  
}

h2{
  text-align: center;
  margin-top: 20px;
}


footer{
  padding: 20px;
   margin-top: 100px;
  background-color: rgb(244, 213, 141);
}


/* ==== Reseñas ====*/
#encabezado{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

#estrellitas{
    font-family: 'Montserrat', sans-serif;
    background-color: #4b6c5b;
    color: white;
    padding: 30px;
    margin-right: 0;
    margin-left: 0;
}

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

#form p {
    text-align: center;
}

#logo{
    align-items: center;
}

#inputReseñas1, #inputReseñas2 {
    font-size: 14px;
    text-align:left;
    color: white;
}

::placeholder{
    font-size: 14px;
    text-align:left;
    color: white;
}

.is-required:after {
  content: '*';
  margin-left: 3px;
  color:darkorange;
  font-weight:lighter;
}

input[type="radio"] {
    display: none;
}

label {
    color:white;
    font-size: 22px;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
    color:goldenrod;
}

input[type="radio"]:checked ~ label {
    color: goldenrod;
}

#ranking{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

textarea {
    resize: none;
}

button{
  text-align: right;
  border-style:solid;
  border-color: #21262a;
  color: #f8f4ea;
}

.card-text{
  text-align: left;
}