body{
   background-image:url("../img/patrón\ de\ imagen.png");
   background-color: bisque;
}


#navbarNav,.container-fluid{
    justify-content: end;
    align-items: flex-end;
    text-align: end;
    background-color: rgb(244, 213, 141);
}

.navbar{
    background-color: rgb(244, 213, 141);
}
.nav-link{
    color: black;
}
h2{
    text-align: center;
    margin-top: 20px;
}

.cafe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

.img-cafe{
    align-items: flex-start;
}

footer{
    margin-top: 50px;
     
    background-color: rgb(244, 213, 141);
}


