
.nav-header{
    background-color: rgb(203, 153, 126)!important;
}
.hamburger-menu{
    background-color: rgb(203, 153, 126);
}
.material-symbols-outlined{
    color: white;
}

.row{
   margin-top: 100px;
    display: flex;
    justify-content: center;
    
}

footer{
    background-color: rgb(203, 153, 126);
}
