body{
  background-image: url(/src/patron.png);
  background-size:contain;
  background-color: bisque;
  background-repeat:initial;
  background-position: center;
  position:relative;
  font-family: 'Montserrat', sans-serif;

}


#navbarNav,.container-fluid{
  justify-content: end;
  align-items: flex-end;
  text-align: end;
  background-color: rgb(244, 213, 141);
}

.navbar{
 
 padding: 0;

}

.search{
padding-top: 8px;
padding-bottom: 8px;
margin-bottom: 5px;
height: 35px;
}

.search_button{
padding-top: 4px;
padding-bottom: 4px;
margin-bottom: 5px;
height: 35px;
}



.nav-link{
  color: black;
}

.font-navbar{
font-family: 'Fraunces', serif;
}

.title{
  color: rgb(160, 92, 45);
  font-family: 'Fraunces', serif;
  text-decoration: none;
  
}

h2{
  text-align: center;
  margin-top: 20px;
}



footer{
  padding: 50px;
   margin-top: 150px;
  background-color: rgb(244, 213, 141);
}

.links-list{

list-style: none;
}

.non-decoration{
text-decoration: none;
color: black;
}

:root {
    --a: #344E41;
    --b: #A05C2D;
    --c: #F4D58D;
    --texto1: black;
    --texto2: white;
  }
  

 
   
    .bttn-container button {
      padding: 1em .8em;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 500;
      color: black;
      background-color: var(--c);
      border: none;
      border-radius: 0px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none;
    }
    
    .bttn-container button:hover {
      background-color: var(--b);
      box-shadow: 0px 15px 20px var(--c);
      color: black;
      transform: translateY(-7px);
    }
    
    .bttn-container button:active {
      transform: translateY(-1px);
    }
  
  #rightBttns {
    justify-items: right;
    padding-right: 0;
    text-align: end;
  }
  
  #leftBttns {
    min-width: 300px;
    justify-items: left;
  }
  
.listaProductos button {
    padding: 1em .8em;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: black;
    background-color: var(--c);
    border: none;
    border-radius: 0px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}  

.listaProductos button:hover {
    background-color: var(--b);
    box-shadow: 0px 15px 20px var(--c);
    color: black;
    transform: translateY(-7px);
}

.listaProductos button:active {
    transform: translateY(-1px);
  }

.categoriaDisplay p{
 font-family: 'Fraunces', serif; 
}
  